body{
background:black;
color:lime;
font-family:monospace;
text-align:center;
}

/*

CLUE 2

Decode this:

84 82 79 76 76 78 72 69 78

*/

button{
padding:10px;
font-size:16px;
background:lime;
color:black;
border:none;
}

#secret{
position:absolute;
top:50px;
left:50px;
width:100px;
height:100px;
opacity:0;
}
